/.venv
/.vscode
iris-env
wine-env
apple-env
heart-venv
mnist-env
__pycache__
a-venv
.venv
data
venv-skin
audiovenv
resnet-venv
yolo-venv
venv-tokenizer
yolo11n.pt
transformer-venv

# Archivos de modelos grandes
*.pth
*.h5
*.weights
*.ckpt
*.model
*.pkl
*.joblib